<template>
    <MglMarker :coordinates="location" :color="color">
    <MglPopup>
    <div>
        <h3>{{ name }} ({{ status }})</h3>
        <p>{{ num_occupied_spaces }} of {{ num_spaces }} occupied.</p>
        <p>{{ occupancy_status }}</p>
    </div>
    </MglPopup>
  </MglMarker>
</template>

<script>
  import {
      MglMarker,
      MglPopup
  } from 'vue-mapbox';

  export default {
    name: 'Carpark',
    props: ['name', 'location', 'num_occupied_spaces', 'num_spaces', 'status', 'occupancy_status'],
    components: {
      MglMarker,
      MglPopup
    },
    computed: {
        color: function () {
            return this.occupancy_status === 'spacesAvailable' ? 'green' : 'red';
        }
    }
  }
</script>
