<template>
    <div>
      <Carpark v-for="carpark in carparks"
        v-bind:key="carpark.id"
        v-bind="carpark"
      ></Carpark>
    </div>
</template>

<script>
  import axios from 'axios';
  import {
      MglMarker,
      MglPopup
  } from 'vue-mapbox';
  import Carpark from './Carpark'

  export default {
    name: 'Carparks',
    components: {
      MglMarker,
      MglPopup,
      Carpark
    },
    data() {
      return {
        carparks: []
      };
    },
    mounted() {
      axios
        .get('/api/carparks/nottingham')
        .then(response => (this.carparks = response.data));
    }
  }
</script>
