<template>
    <div id="map">
        <MglMap
            :accessToken="accessToken"
            :mapStyle.sync="mapStyle"
            @load="onMapLoaded"
        >
          <MglAttributionControl />
          <MglNavigationControl position="top-right" />
          <MglGeolocateControl position="top-right" />
          <MglScaleControl />
          <Carparks />
        </MglMap>
    </div>
</template>

<script>
  import {
    MglMap,
    MglAttributionControl,
    MglNavigationControl,
    MglGeolocateControl,
    MglFullscreenControl,
    MglScaleControl
  } from 'vue-mapbox';
  import Carparks from './Carparks'

  export default {
    name: 'Map',
    components: {
      MglMap,
      MglAttributionControl,
      MglNavigationControl,
      MglGeolocateControl,
      MglFullscreenControl,
      MglScaleControl,
      Carparks
    },
    data() {
      return {
        accessToken: 'pk.eyJ1Ijoicm9iZ29sZGluZyIsImEiOiJjanJ6YWR0MnYxMnNlNDNvNW92cXFndXJsIn0.PF6iycMUHwGe94b2GfNmAg',
        mapStyle: 'mapbox://styles/mapbox/streets-v10',
      }
    },
    created() {
      this.map = null;
    },
    methods: {
      onMapLoaded(event) {
        const asyncActions = event.component.actions;
        const newParams = asyncActions.jumpTo({
          center: [-1.15, 52.95],
          zoom: 11,
          speed: 3
        });
      }
    }
  }
</script>

<style scoped>
  div.mgl-map-wrapper {
      height: 100vh;
      width: 100%;
  }
</style>
