<template>
  <div id="app">
    <main>
      <Map></Map>
    </main>
  </div>
</template>

<script>
  import Hello from './components/Hello'
  import Map from './components/Map'
  export default {
    name: 'app',
    components: {
      Map
    }
  }
</script>

<style>
  body {
    margin: 0;
  }
  #app {
      height: 100vh;
  }
</style>
